<div class="container">
  <h2>Welcome!</h2>

  <p>
    You're logged in as <a href="mailto:{{user.email}}">{{user.email}}</a></span>.
  </p>

  <form class="form-signout" action="/sign-out" method="POST">
    <button class="btn btn-large btn-danger" type="submit">Logout</button>
  </form>
</div>
